<div id="termos-modal" class="modal has-overlay" data-visible="false">

    <div class="modal__content">
        <div class="modal__header">
            <h2 class="title">
                Termos de segurança
            </h2>
            <button class="modal__close">
                <i class="fa fa-times"></i>
            </button>
        </div>

        <div class="modal__body custom-scroll">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum
            perferendis illo eligendi, illum inventore temporibus repellat error, modi
            tempora sit ea cumque, nisi amet voluptatem porro eum explicabo voluptatibus a
            aspernatur dignissimos est. Blanditiis nemo tempora non est dolore accusantium
            nobis nesciunt molestiae quam hic, adipisci corporis repellat quae recusandae
            earum sint voluptatem, odit obcaecati consequatur? Cum velit inventore sit
            repellat accusamus dolor vero, at ipsa amet incidunt error veritatis sequi
            quaerat cupiditate. Aperiam, repellat. Distinctio aliquam cupiditate eveniet id
            tenetur beatae sunt veniam quibusdam. Aperiam, natus ipsum delectus facilis
            saepe ducimus dolorem sit alias facere debitis itaque nisi autem mollitia fugit
            iusto temporibus. Sequi, eaque. Quia ullam vero alias consectetur blanditiis,
            labore dignissimos corrupti in, quae incidunt assumenda ut minus qui modi
            laudantium ex similique totam, magnam expedita quas praesentium dolorum
            voluptatibus ducimus. Nemo perferendis maiores facilis molestiae nulla
            cupiditate minima iusto labore laboriosam, iure aliquid voluptatem velit.
            Tempora veritatis dicta est! Quia, adipisci? Iure iusto, expedita odit earum est
            sapiente velit deserunt alias molestias dicta suscipit laudantium quasi enim
            quos dolor nobis! Enim obcaecati voluptatum repudiandae, laboriosam accusantium
            ratione porro commodi suscipit nobis, hic eos quibusdam illum libero
            exercitationem voluptates quae qui possimus asperiores. Nihil illum illo, aut
            recusandae iusto animi tempora officiis veniam consequuntur fugit deserunt omnis
            pariatur blanditiis quidem doloremque reprehenderit voluptatum ducimus nisi
            accusamus mollitia odio rerum explicabo. Vel maxime, reprehenderit blanditiis
            temporibus suscipit fuga corrupti incidunt labore assumenda laudantium fugiat
            natus expedita veritatis nobis deleniti quo doloribus numquam repudiandae
            tenetur voluptatum. Est, consectetur iste? Nulla aliquid recusandae incidunt
            alias. Est aspernatur, excepturi, ad modi unde laudantium neque ut sunt quo
            exercitationem consequatur minima perspiciatis sed voluptatum dicta quam
            inventore sint, cupiditate iusto! Reiciendis delectus voluptatem fugit, nihil
            voluptates optio beatae quam aliquam eius provident magnam aliquid nisi! Ducimus
            atque, consequuntur, assumenda praesentium accusantium cumque blanditiis
            eveniet, voluptate modi eos ipsam minus officiis dolore dolores officia. Dolorem
            sit doloribus dolor tempore nesciunt ullam, deserunt modi ex dolore libero odio
            quam quibusdam alias! Perspiciatis dolores quo eum inventore exercitationem ea
            expedita possimus quis fugiat voluptate architecto quasi velit voluptatum,
            laborum amet asperiores deserunt excepturi facere odit quidem ad? Eligendi
            sapiente harum eum architecto expedita, repellendus natus non exercitationem
            cupiditate laborum ipsum quae temporibus quos odit eveniet? Exercitationem
            eveniet, saepe rerum beatae perferendis cupiditate laboriosam autem eius
            reiciendis labore corrupti modi animi unde iusto in atque consectetur placeat
            quidem et, aliquam sequi ex inventore deserunt vel!
        </div>
    </div>

    <div class="backdrop"></div>
</div>

<div id="politicas-modal" class="modal has-overlay" data-visible="false">

    <div class="modal__content">
        <div class="modal__header">
            <h2 class="title">
                Políticas de prividade
            </h2>
            <button class="modal__close">
                <i class="fa fa-times"></i>
            </button>
        </div>

        <div class="modal__body custom-scroll">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum
            perferendis illo eligendi, illum inventore temporibus repellat error, modi
            tempora sit ea cumque, nisi amet voluptatem porro eum explicabo voluptatibus a
            aspernatur dignissimos est. Blanditiis nemo tempora non est dolore accusantium
            nobis nesciunt molestiae quam hic, adipisci corporis repellat quae recusandae
            earum sint voluptatem, odit obcaecati consequatur? Cum velit inventore sit
            repellat accusamus dolor vero, at ipsa amet incidunt error veritatis sequi
            quaerat cupiditate. Aperiam, repellat. Distinctio aliquam cupiditate eveniet id
            tenetur beatae sunt veniam quibusdam. Aperiam, natus ipsum delectus facilis
            saepe ducimus dolorem sit alias facere debitis itaque nisi autem mollitia fugit
            iusto temporibus. Sequi, eaque. Quia ullam vero alias consectetur blanditiis,
            labore dignissimos corrupti in, quae incidunt assumenda ut minus qui modi
            laudantium ex similique totam, magnam expedita quas praesentium dolorum
            voluptatibus ducimus. Nemo perferendis maiores facilis molestiae nulla
            cupiditate minima iusto labore laboriosam, iure aliquid voluptatem velit.
            Tempora veritatis dicta est! Quia, adipisci? Iure iusto, expedita odit earum est
            sapiente velit deserunt alias molestias dicta suscipit laudantium quasi enim
            quos dolor nobis! Enim obcaecati voluptatum repudiandae, laboriosam accusantium
            ratione porro commodi suscipit nobis, hic eos quibusdam illum libero
            exercitationem voluptates quae qui possimus asperiores. Nihil illum illo, aut
            recusandae iusto animi tempora officiis veniam consequuntur fugit deserunt omnis
            pariatur blanditiis quidem doloremque reprehenderit voluptatum ducimus nisi
            accusamus mollitia odio rerum explicabo. Vel maxime, reprehenderit blanditiis
            temporibus suscipit fuga corrupti incidunt labore assumenda laudantium fugiat
            natus expedita veritatis nobis deleniti quo doloribus numquam repudiandae
            tenetur voluptatum. Est, consectetur iste? Nulla aliquid recusandae incidunt
            alias. Est aspernatur, excepturi, ad modi unde laudantium neque ut sunt quo
            exercitationem consequatur minima perspiciatis sed voluptatum dicta quam
            inventore sint, cupiditate iusto! Reiciendis delectus voluptatem fugit, nihil
            voluptates optio beatae quam aliquam eius provident magnam aliquid nisi! Ducimus
            atque, consequuntur, assumenda praesentium accusantium cumque blanditiis
            eveniet, voluptate modi eos ipsam minus officiis dolore dolores officia. Dolorem
            sit doloribus dolor tempore nesciunt ullam, deserunt modi ex dolore libero odio
            quam quibusdam alias! Perspiciatis dolores quo eum inventore exercitationem ea
            expedita possimus quis fugiat voluptate architecto quasi velit voluptatum,
            laborum amet asperiores deserunt excepturi facere odit quidem ad? Eligendi
            sapiente harum eum architecto expedita, repellendus natus non exercitationem
            cupiditate laborum ipsum quae temporibus quos odit eveniet? Exercitationem
            eveniet, saepe rerum beatae perferendis cupiditate laboriosam autem eius
            reiciendis labore corrupti modi animi unde iusto in atque consectetur placeat
            quidem et, aliquam sequi ex inventore deserunt vel!
        </div>
    </div>

    <div class="backdrop"></div>
</div>