<div id="escolheralunos-modal" class="c-modal has-overlay" data-visible="false">

    <div class="c-modal__content lg">
        <div class="c-modal__header">
            <h2 class="title">
                Escolher aluno
            </h2>
            <button class="c-modal__close">
                <i class="fa fa-times"></i>
            </button>
        </div>

        <div class="c-modal__body mt-3">
            <form action="../cursos.html" METHOD="POST" class="w-100">

                <div class="c-modal__subscroll custom-scroll">
                    <div>

                        <!-- Template radio pessoa -->
                        <label class="radio-person">
                            <input type="checkbox" name="alunos" value="1"/>
                            <span class="mask">
                                <img src="../images/thumbs/person1.png" alt=""/>
                                <div class="desc">
                                    Lucas lemes
                                    <span>Contador</span>
                                </div>
                                <span class="is-checked"></span>
                            </span>
                        </label>
                        <!--  -->
                        <label class="radio-person">
                            <input type="checkbox" name="alunos" value="2"/>
                            <span class="mask">
                                <img src="../images/thumbs/person1.png" alt=""/>
                                <div class="desc">
                                    Lucas lemes
                                    <span>Contador</span>
                                </div>
                                <span class="is-checked"></span>
                            </span>
                        </label>

                        <label class="radio-person">
                            <input type="checkbox" name="alunos" value="3"/>
                            <span class="mask">
                                <img src="../images/thumbs/person1.png" alt=""/>
                                <div class="desc">
                                    Lucas lemes
                                    <span>Contador</span>
                                </div>
                                <span class="is-checked"></span>
                            </span>
                        </label>

                        <label class="radio-person">
                            <input type="checkbox" name="alunos" value="4"/>
                            <span class="mask">
                                <img src="../images/thumbs/person1.png" alt=""/>
                                <div class="desc">
                                    Lucas lemes
                                    <span>Contador</span>
                                </div>
                                <span class="is-checked"></span>
                            </span>
                        </label>

                        <label class="radio-person">
                            <input type="checkbox" name="alunos" value="5"/>
                            <span class="mask">
                                <img src="../images/thumbs/person1.png" alt=""/>
                                <div class="desc">
                                    Lucas lemes
                                    <span>Contador</span>
                                </div>
                                <span class="is-checked"></span>
                            </span>
                        </label>

                        <label class="radio-person">
                            <input type="checkbox" name="alunos" value="6"/>
                            <span class="mask">
                                <img src="../images/thumbs/person1.png" alt=""/>
                                <div class="desc">
                                    Lucas lemes
                                    <span>Contador</span>
                                </div>
                                <span class="is-checked"></span>
                            </span>
                        </label>

                        <label class="radio-person">
                            <input type="checkbox" name="alunos" value="7"/>
                            <span class="mask">
                                <img src="../images/thumbs/person1.png" alt=""/>
                                <div class="desc">
                                    Lucas lemes
                                    <span>Contador</span>
                                </div>
                                <span class="is-checked"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn-default mt-2">Adicionar alunos</button>
            </form>
        </div>
    </div>
    <div class="backdrop"></div>
</div>