<nav id="main-nav" class="main-nav wow fadeInDown">
    <div class="container">
        <div class="main-nav__content">
            <div class="main-nav__brand">
                <img src="../images/brands/main.png" alt="Logo CWSE">
            </div>

            <ul class="main-nav__items">
                <li class="has-dropdown">
                    Aprender

                    <div class="menu-dropdown">

                    </div>
                </li>

                <li>
                    <a href="#">Meus cursos</a>
                </li>

                <li>
                    <a href="#">Alunos</a>
                </li>
            </ul>

            <form class="main-nav__search">
                <div>
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <input type="text">
                </div>
            </form>

            <div class="main-nav__actions">
                <div class="main-nav__actions-notify">
                    <i class="fa fa-bell"></i>
                    <span class="warning"></span>

                    <div class="main-nav__dropdown">
                        <div class="main-nav__dropdown-header">
                            <h3 class="title">Notificações</h3>
                        </div>

                        <div class="main-nav__dropdown-body custom-scroll">
                            <div class="main-nav__dropdown-notify">
                                <h4 class="title">Curso Treinamento GWO</h4>
                                <p class="desc">Escolha os <b>6</b> alunos que vão participar desse treinamento</p>
                                <a href="#">Escolher alunos</a>
                            </div>
                            <div class="main-nav__dropdown-notify">
                                <h4 class="title">Curso Treinamento GWO</h4>
                                <p class="desc">Escolha os <b>6</b> alunos que vão participar desse treinamento</p>
                                <a href="#">Escolher alunos</a>
                            </div>
                            <div class="main-nav__dropdown-notify">
                                <h4 class="title">Curso Treinamento GWO</h4>
                                <p class="desc">Escolha os <b>6</b> alunos que vão participar desse treinamento</p>
                                <a href="#">Escolher alunos</a>
                            </div>
                            <div class="main-nav__dropdown-notify">
                                <h4 class="title">Curso Treinamento GWO</h4>
                                <p class="desc">Escolha os <b>6</b> alunos que vão participar desse treinamento</p>
                                <a href="#">Escolher alunos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>