.login {
   display: flex;
   width: 100vw;
   height: 100vh;
   min-height: 700px;

   @media screen and (max-width: $bp-LG){
      flex-direction: column;
      height: auto;
   }

   &__title{
      font-size: 23px;
      color: #383838;
      font-weight: 500;
      text-align: center;
      margin-bottom: 27px;
   }

   &__tab{
      display: none;

      &.active{
          display: block;
          animation: fadeIn 1s;
      }
   }

   .backgrounds{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      .bg{
         position: absolute;
         left: 0;
         top: 0;
         opacity: 0;
         width: 100%;
         height: 100%;
         background-size: cover;
         z-index: 1;

         &[data-active="true"]{
            opacity: 1;
         }
      }
   }

   &__side{
      position: relative;
      width: 55%;
      height: 100%;

      @media screen and (max-width: $bp-LG){
         width: 100% !important;
      }

      &.left{
         display: flex;
         justify-content: center;
         width: 45%;
         align-items: center;

         @media screen and (max-width: $bp-LG){
            margin-bottom: 50px;
            padding-top: 40px;
         }
         
         .left-container{
            width: 100%;
            max-width: 370px;
            
            @media screen and (max-width: 600px){
               padding: 0 18px;
            }
         }
      }
      
      &.right{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         background-position: center center;

         @media screen and (max-width: $bp-LG){
            height: 60vh;
         }
      }
   }

   &__brand{
      width: 85px;
      margin: 0 auto;

      img{
         width: 100%;
         margin-bottom: 40px;
      }
   }

   &__divisor{
      display: flex;
      align-items: center;
      margin: 23px 0 19px 0;

      @media screen and (max-width: $bp-LG){
         margin: 16px 0 12px 0;
      }

      div{
         width: 42%;
         height: 1px;
         background-color: #EDEDED;
      }

      span{
         text-align: center;
         color: #EDEDED;
         width: 16%;
      }
   }

   .login-cadastre{
      font-size: 16px;
      color: #383838;
      text-align: center;

      a{
         color: #414292 !important;
         text-decoration: underline;
         font-weight: 500;
      }
   }

   .form-forget{
      color: #383838 !important;
      font-size: 14px;
      text-decoration: underline;
      margin-top: -3px;
   }

   &__carousel{
      width: 100%;

      &-item{
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         width: 100%;
         height: auto;
         z-index: 3;

         @media screen and (max-width: 450px){
            padding: 0 20px;
         }
      }

      &-title{
         font-size: 24px;
         font-weight: 500;
         color: #fff;
         margin-bottom: 20px;
         text-align: center;
      }

      &-desc{
         font-size: 16px;
         color: #ffffffd5;
         max-width: 440px;
         text-align: center;
         margin: 0 auto;
      }
   }

   .owl-dots{
      z-index: 2;
      padding-top: 10px;

      .owl-dot{
         width: 8px;
         height: 8px;
         border: 1px solid #fff;
         background: transparent;
         border-radius: 50%;
         padding: 0;
         @include transition();

         &:not(:last-child){
            margin-right: 4px;
         }

         &.active{
            background-color: #fff;
         }
      }
   }
}