.c-modal{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    @include transition();
    
    &[data-visible="true"]{
        opacity: 1;
        pointer-events: all;
        
        .c-modal__content{
            transform: translateY(0px);
        }
    }

    &__subscroll{
        position: relative;
        display: block;
        width: 100%;
        height: 50vh;

        .scroll-bar.vertical{
            height: 100% !important;
            width: 10px;
            right: -5px;
        }

        @media screen and (min-width: $bp-LG){
            height: 50vh;
        }
    }

    .backdrop{
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }
    
    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 15px;
        width: 460px;
        height: 68vh;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.267);
        transform: translateY(-60px);
        @include transition(0.4s);

        &.lg{
            height: 75vh;
        }

        &.xl{
            width: 80vw;
            max-width: 1000px;
            height: 73vh;
        }
        
        @media screen and (max-width: $bp-SM){
            width: 89vw;
            height: 80vh;
        }
        
        .scroll-bar.vertical{
            height: 90% !important;
            width: 10px;
        }
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 33px 10px 33px;

        &.sm{
            position: absolute;
            left: 0;
            width: 100%;
            top: -55px;
            padding: 5px;

            .c-modal__close{
                color: #fff !important;
                font-size: 24px;
                padding: 0;
            }
        }
        
        .title{
            font-size: 24px;
            color: #414292;
            font-weight: 500;
            margin-bottom: 10px;

            @media screen and (max-width: $bp-SM){
                font-size: 20px;
            }
        }
    }

    &__close{
        background: transparent;
        border: none;
        color: #383838;
        padding: 0;
        margin-bottom: 5px;
        padding-right: 5px;
        @include transition();

        &:hover{
            @include scale(1.02);
        }

        @media screen and (max-width: $bp-SM){
            padding-right: 0;
            font-size: 13px;
            margin-bottom: 8px;
        }
    }

    &__body{
        position: relative;
        padding: 5px 33px 36px 33px;
        height: 100%;
    }

    .viewport{
        height: 100% !important; 
        width: 95% !important;

        .overview{
            width: 100%;
        }
    }

    iframe{
        width: 100%;
        height: 100%;
    }

    &.has-overlay{
        .viewport{
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 20%;
                z-index: 15;
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.5) 99%);
            }
        }
    }
}