.card-pagamento {
    background-color: #F7F7F8;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;

    &__img {
        height: 90px;
        width: 142px;
        border-radius: 5px;
        object-fit: cover;
    }

    &__top {
        display: flex;
        padding: 21px 26px;

    }

    &__footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-top: 1.2px solid rgb(238, 238, 238);
        padding: 21px 26px;

        img {
            width: 34px;
        }

        b {
            font-weight: 500;
            margin-bottom: 4px;
        }

        div {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;

            @media screen and (max-width: $bp-MD) {
                margin-bottom: 7px;
                width: 50%;
            }
        }
    }

    &__caption {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 15px;

        @media screen and (max-width: $bp-MD) {
            flex-wrap: wrap;
            padding-top: 0;
            padding-left: 12px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
    }

    &__price {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        color: #414292;
        font-weight: 500;

        span {
            font-size: 14px;
            color: #909090;
            font-weight: 400;
            margin-top: 0;
        }
    }
}
