.faq-item{
    background-color: #F7F7F8;
    border-radius: 5px;
    padding: 29px 16px;
    margin-bottom: 20px;

    &__toggler{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: none !important;
        border: none !important;
        padding: 0 !important;
        font-weight: 500;
        color: #383838 !important;
        text-align: left;

        i{
            display: block;
            transition: all 0.4s;
        }

        &[aria-expanded="true"]{
            i{
                transform: rotate(-180deg);
            }
        }
    }

    &__body{
        padding-top: 15px;
    }
}